%li.span3
  .thumbnail
    %p= link_to image_tag(item.image_set(:primary).thumbnail.url), item.url
    .caption
      = form_tag do_search_path, method: :put do
        %p= item.title
        %p= submit_tag 'Pick', class: "btn btn-primary"
