= form_tag do_search_path, :method => :get do
  .control-group
    .controls
      = text_field_tag :search_terms, params[:search_terms], :class => 'search-query span7', :placeholder => 'What would you like to find?'