- content_for :sidebar do
  = render partial: "sidebar"

= render partial: "search/search_form"

%ul.thumbnails.per3
  - @picked_items.each do |item|
    = render partial: "item", locals: {item: item}